@import url(../index.css);

.sectionAboutUs {
  position: relative;
  width: 100%;
  height: 672px;
  background-color: var(--unnamed-color-ffffff);
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  margin: auto;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.decorationPage {
  position: absolute;
  top: 90px;
  left: 0;
  width: 24px;
  height: 504px;

  background: var(--unnamed-color-e0752f) 0% 0% no-repeat padding-box;
  background: #e0752f 0% 0% no-repeat padding-box;
}

.image {
  width: 390px;
  height: 504px;
  object-fit: cover;
}

.containerInfoAboutUs {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  max-width: 471px;
}

.title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-39) / var(--unnamed-line-spacing-45)
    var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnamed-character-spacing-0-55);
  color: var(--unnamed-color-343434);
  text-align: left;
  font: normal normal 600 39px/45px Poppins;
  letter-spacing: 0.55px;
  color: #343434;
}

.titleColor {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-39) / var(--unnamed-line-spacing-45)
    var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnamed-character-spacing-0-55);
  color: var(--unnamed-color-e0752f);
  text-align: left;
  font: normal normal 600 39px/45px Poppins;
  letter-spacing: 0.55px;
  color: #e0752f;
}

.paragraph {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-28) var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0-22);
  color: var(--unnamed-color-343434);
  text-align: left;
  font: normal normal normal 16px/28px Roboto;
  letter-spacing: 0.22px;
  color: #343434;
  opacity: 1;
}

.button {
  top: 512px;
  left: 101px;
  width: 144px;
  height: 48px;

  background: var(--unnamed-color-e0752f) 0% 0% no-repeat padding-box;
  background: #e0752f 0% 0% no-repeat padding-box;
  border-radius: 25px;
  border: #e0752f;

  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-21) var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0-22);
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal medium 16px/21px Roboto;
  letter-spacing: 0.22px;
  color: #ffffff;

  cursor: pointer;
}

/* Tablet */
@media screen and (min-width: 576px) and (max-width: 991.98px) and (orientation: portrait) {
  .decorationPage {
    display: none;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 100px;
  }

  .sectionAboutUs {
    height: auto;
    padding: 80px 0;
  }

  .image {
    width: 390px;
    height: 504px;
    object-fit: cover;
  }
}

/* Mobile */
@media screen and (max-width: 575.98px) and (orientation: portrait) {
  .decorationPage {
    display: none;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 100px;
  }

  .sectionAboutUs {
    height: auto;
    padding: 80px 0;
  }

  .image {
    width: 320px;
    height: 404px;
    object-fit: cover;
  }
}
