.sectionHome {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/25Watts/images/slide1-background.png);
  background-position: center;
  background-size: cover;
}

.sectionHome2 {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/25Watts/images/slide2-background.png);
  background-position: center;
  background-size: cover;
}

.sectionHome3 {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/25Watts/images/slide3-background.png);
  background-position: center;
  background-size: cover;
}

.conteiner {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  margin: auto;
  padding: 0 20px;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-48) / var(--unnamed-line-spacing-48)
    var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnamed-character-spacing-0-67);
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal 600 48px/48px Poppins;
  letter-spacing: 0.67px;
  color: #ffffff;
  opacity: 1;

  margin-top: 100px;
  max-width: 570px;
}

.paragraph {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-21) var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0-22);
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal medium 16px/21px Roboto;
  letter-spacing: 0.22px;
  color: #ffffff;

  max-width: 372px;
}

.button {
  width: 144px;
  height: 48px;

  background: var(--unnamed-color-e0752f) 0% 0% no-repeat padding-box;
  background: #e0752f 0% 0% no-repeat padding-box;
  border-radius: 25px;
  border: #e0752f;

  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-21) var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0-22);
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal medium 16px/21px Roboto;
  letter-spacing: 0.22px;
  color: #ffffff;

  cursor: pointer;
}

.conteinerNavigarion {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}

.navigationDefault {
  top: 621px;
  left: 122px;
  width: 8px;
  height: 8px;

  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 0.7;

  border-radius: 100%;
}

.navigationAvctive {
  top: 621px;
  left: 101px;
  width: 8px;
  height: 8px;

  background: var(--unnamed-color-e0752f) 0% 0% no-repeat padding-box;
  background: #e0752f 0% 0% no-repeat padding-box;
  opacity: 1;

  border-radius: 100%;
}
